[Unit]
Description=NinjaBlocks MQTT Bridge
After=network.target 

[Service]
EnvironmentFile=/etc/profile.d/ninja.sh
ExecStart=/opt/ninjablocks/bin/mqtt-bridgeify
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
